/JQG/New/ShowMessagedialog/nbproject/private/
/JQG/New/ShowMessagedialog/build/
/JQG/New/showInputDialog/nbproject/private/
/JQG/New/showInputDialog/build/
/JQG/New/270524/showConfirmDialog/nbproject/private/
/JQG/New/270524/showConfirmDialog/build/
